body {
  font-family: Questrial, Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
}

.top {
  background-color: #1F2937;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 80px 60px 80px;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.pageturned-logo {
  width: 70px;
  height: auto;
}

.logo-text {
  color: #F9FAF8;
  font-size: 30px;
  display: flex;
  font-family: Mynerve, Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 120px 50px 120px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 80px;
}

.tagline {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

.intro-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.intro-signup {
  padding: 5px 10px;
  width: 100px;
  margin-top: 10px;
  background-color: #907B9A;
  color: #F9FAF8;
  border-radius: 8px;
}

img {
  width: 700px;
  height: auto;
}

.header-image {
  border-radius: 8px;
}

.info {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 30px;
  color: #907B9A;
}

.icon {
  width: 70px;
  height: auto;
  border: 2px solid #907B9A;
  border-radius: 8px;
  padding: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

 .feature {
  max-width: 200px;
 }

 .text {
  color: #907B9A;
 }

 .testimonial {
  background-color: #e5e7eb;
  padding: 50px 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 80px;
 }

 .comment {
  font-size: 35px;
  font-style: italic;
  color: #1F2937;
  display: flex;
 }

 .customer {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
 }

 .modal {
  display: flex;
  background-color: #907B9A;
  font-size: 18px;
  color: #E5E7EB;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
  margin:auto;
  gap: 120px;
  border-radius: 8px;
 }

 .offer {
  font-weight: bold;
  font-size: 20px;
 }

 .modal-signup {
  padding: 5px 10px;
  width: 100px;
  background-color: #907B9A;
  color: #F9FAF8;
  border-radius: 8px;
  border: 1px solid #F9FAF8;
 }

 .footer {
  display: flex;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-direction: column;
  gap: 10px;
 }

 a {
  text-decoration: none;
  color: #F9FAF8;
 }

 .copyright {
  font-weight: bold;
 }